<h2>Tweets</h2>
<div *ngFor="let tweet of tweets; let i = index" class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object tweet-image" src="http://lorempixel.com/100/100/people?{{ i }}" alt="Tweet image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading tweet-author">
      {{ tweet.author }}
      <span>@{{ tweet.handler }}</span>
    </h4>
    <p>{{ tweet.body }}</p>
    <div>
      <i class="glyphicon glyphicon-heart" [class.highlighted]="tweet.iLike" (click)="onClick(tweet)"></i>
      <span>{{ tweet.totalLikes }}</span>
    </div>
  </div>
</div>
