img.tweet-image {
    border-radius: 10px;
}

h4.tweet-author span {
    color: gray;
    font-size: 16px;
}

.glyphicon-heart {
    color: #ccc;
    cursor: pointer;
}

.highlighted {
    color: deeppink;
}
